/* Write some CSS below */

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.banner-wrap{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.JPG');
	background-image: url('../images/background.jpg')
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

h1{
	color: white;
	font-size: 45px;
	margin: 0;
	font-weight: bold;
}

 
.banner-wrap p {
	color: white;
	font-size: 24px;
	opacity: 0.85;
}

.button{
	background-color: #1A48E3;
	color: white;
	padding: 16px 48px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	transition: .3s;
	font-size: 20px;
	font-weight: bold;
	border: none;
}

a{
    cursor: pointer;
}

.button:hover{
	background-color: #0D1EC6;
  	color: white;
}
 

.cards-wrap{
	width: 900px;
	margin: 60px auto;
}

.cards-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.card{
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 0px 20px;

}

.card img{
	width: 100%;
	height: 150px
}

.footer{
	background: #404042;
	color: white;
	padding: 30px 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer p{
	margin: 0;
	display: block;
	font-size: 18px;
}
